@font-face {
  font-family: 'circularBook';
  src: url('../font/circular_book/circularstd-book-webfont.eot'); /* IE9 Compat Modes */
  src: url('../font/circular_book/circularstd-book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/circular_book/circularstd-book-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/circular_book/circularstd-book-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/circular_book/circularstd-book-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/circular_book/circularstd-book-webfont.svg#circularstd-book-webfont') format('svg'); /* Legacy iOS */
}