#header {
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 25px;
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 1.1em;

	nav {
		display: inline-block;

		ul {
			padding: 0px;

			li {
				list-style: none;
				display: inline-block;
				padding-left: 20px;

			}

		}

	}
	
}