{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

		<div class="content">
			<h1>En smak av framtiden</h1>
			<img class="icon" src="/public/image/apple.png"> </img>

			<p>På platsen för en grönskande medeltidsby i skuggan av Brunkebergsåsen anlägger vi nu ett antal arbetsplatser med smak av framtiden.</p>
			<p>Kvarteret Apeln erbjuder öppna, flexibla kontorsytor i storleksordningen 1000–5000 m2. Perfekta för varje företag som tror på ett aktivitetsbaserat arbetssätt. Och givetvis lika välkomnande om ni ser traditionellt fasta platser som den naturliga lösningen.
			Entrén välkomnar med service och mötesplatser. Här finns kaffe, enklare maträtter och även ett gym som alla i huset får nyttja.</p>
			<p>Men det är förstås varje våningsplan som gör Kvarteret Apeln spännande.  Läs mer om fria platser, personlig förvaring och andra smarta lösningar på sidan XX. Och tveka inte att höra av er till oss på Klara Norra Fastigheter om det finns något mer vi kan göra för att optimera er framtida arbetsplats.</p>
			<p>Läget slutligen? Tja, ett av stans bästa, skulle vi säga. Mitt i smeten nära till både Hötorget, Centralen, Arlanda Express och Världen. Allt i en oas som säkrar lugn och arbetsro med löprundor och mysiga flanörstråk runt hörnet.  Redo för en ny era i företagets historia? Rentav en smak av framtiden? Välkommen till Kvarteret Apeln!
			</p>

			<p class="name">Peter Jansson,</br>
			VD  Klara Norra Fastigheter</p>
		</div>

{% endblock %}
